* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

section {
    margin: 2rem 0;
}

h2 {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: left;
}

.movie-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-card h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.movie-card p {
    color: #555;
}

.movie-card a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.movie-card a:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}